<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,15},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{36,16},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,39},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{36,51},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,63},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,87},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{36,86},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,111},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{36,121},{22,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{22,33}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,135},{22,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>comma.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-9}</string>
                <key>spriteSize</key>
                <string>{12,17}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{18,1},{12,17}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>dot.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{10,15}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{10,15}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>hyphen.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{18,13}</string>
                <key>spriteSourceSize</key>
                <string>{22,35}</string>
                <key>textureRect</key>
                <string>{{37,1},{18,13}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>redletter.png</string>
            <key>size</key>
            <string>{59,158}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9b5be71089ae1859ad4b2a5ca8a56366:f6130e489199b79042b157d066550eed:f0b96dc47ac92ced5fdafcefc30dc0f1$</string>
            <key>textureFileName</key>
            <string>redletter.png</string>
        </dict>
    </dict>
</plist>
