<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>TalkMenu_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{736,549}</string>
                <key>spriteSourceSize</key>
                <string>{736,549}</string>
                <key>textureRect</key>
                <string>{{1,1},{736,549}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>TalkMenu_title.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{404,55}</string>
                <key>spriteSourceSize</key>
                <string>{404,63}</string>
                <key>textureRect</key>
                <string>{{442,654},{404,55}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Talk_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{439,110}</string>
                <key>spriteSourceSize</key>
                <string>{439,110}</string>
                <key>textureRect</key>
                <string>{{1,557},{439,110}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Talk_light.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{651,108}</string>
                <key>spriteSourceSize</key>
                <string>{651,108}</string>
                <key>textureRect</key>
                <string>{{739,1},{651,108}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>line_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{661,3}</string>
                <key>spriteSourceSize</key>
                <string>{661,3}</string>
                <key>textureRect</key>
                <string>{{1,552},{661,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Talkmenu.png</string>
            <key>size</key>
            <string>{848,710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d77c54bf14caf468870ed5153b6dbbb2:070aa99a875471e3f430fbffd44f2498:17673a5d4ab9a297f9536b0e35b96f69$</string>
            <key>textureFileName</key>
            <string>Talkmenu.png</string>
        </dict>
    </dict>
</plist>
