<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bookmark_a_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,177},{270,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_a_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,249},{270,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_a_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{273,273},{270,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bookmark_a_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{345,273},{270,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bookmark_b_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,86}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{270,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_b_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,86}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{273,1},{270,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bookmark_b_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,86}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{361,1},{270,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bookmark_b_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{270,86}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,89},{270,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_c_01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{417,273},{270,70}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>bookmark_c_05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,321},{270,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_c_07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,393},{270,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bookmark_c_08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-8}</string>
                <key>spriteSize</key>
                <string>{270,70}</string>
                <key>spriteSourceSize</key>
                <string>{270,86}</string>
                <key>textureRect</key>
                <string>{{1,465},{270,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bookmark.png</string>
            <key>size</key>
            <string>{488,544}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23963c9d0b4ba4bb47fa3eb4bffa6cf0:b0382b4ee6008b05a2dddd15d2c394ce:160e5b503167d45a87f36fd2df503a93$</string>
            <key>textureFileName</key>
            <string>bookmark.png</string>
        </dict>
    </dict>
</plist>
