<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_b1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{267,83}</string>
                <key>spriteSourceSize</key>
                <string>{267,83}</string>
                <key>textureRect</key>
                <string>{{541,1},{267,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_b2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{257,77}</string>
                <key>spriteSourceSize</key>
                <string>{267,83}</string>
                <key>textureRect</key>
                <string>{{1070,1},{257,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_guest00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,83}</string>
                <key>spriteSourceSize</key>
                <string>{268,83}</string>
                <key>textureRect</key>
                <string>{{271,1},{268,83}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_r1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{268,84}</string>
                <key>spriteSourceSize</key>
                <string>{268,84}</string>
                <key>textureRect</key>
                <string>{{1,1},{268,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_r2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,1}</string>
                <key>spriteSize</key>
                <string>{258,78}</string>
                <key>spriteSourceSize</key>
                <string>{268,84}</string>
                <key>textureRect</key>
                <string>{{810,1},{258,78}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_qr01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{1329,1},{102,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_qr02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{102,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{1329,40},{102,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_qx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{1433,1},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_qx02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,37}</string>
                <key>spriteSourceSize</key>
                <string>{120,37}</string>
                <key>textureRect</key>
                <string>{{1433,40},{100,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>btns.png</string>
            <key>size</key>
            <string>{1534,86}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:edc5920cff4c4c65ead043247b459d71:db6b63bc2ca068fb8751a6274bf89c8d:5b0ec9b43c7a64dd256d1f346963b7ed$</string>
            <key>textureFileName</key>
            <string>btns.png</string>
        </dict>
    </dict>
</plist>
