<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIFI_0格.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,-12}</string>
                <key>spriteSize</key>
                <string>{13,11}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{1908,907},{13,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WIFI_1格.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-7}</string>
                <key>spriteSize</key>
                <string>{21,21}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{1239,1323},{21,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>WIFI_2格.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{31,29}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{1246,1346},{31,29}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WIFI_3格.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{1149,1346},{41,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WIFI_無電.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,35}</string>
                <key>spriteSourceSize</key>
                <string>{41,35}</string>
                <key>textureRect</key>
                <string>{{1186,1346},{41,35}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,95}</string>
                <key>textureRect</key>
                <string>{{1172,1389},{110,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{110,95}</string>
                <key>spriteSourceSize</key>
                <string>{110,95}</string>
                <key>textureRect</key>
                <string>{{1200,1211},{110,95}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_back02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{106,91}</string>
                <key>spriteSourceSize</key>
                <string>{110,95}</string>
                <key>textureRect</key>
                <string>{{1079,1408},{106,91}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_x0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{1269,1379},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_x1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{75,76}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{1219,1026},{75,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_x2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,1}</string>
                <key>spriteSize</key>
                <string>{73,74}</string>
                <key>spriteSourceSize</key>
                <string>{75,76}</string>
                <key>textureRect</key>
                <string>{{1219,1104},{73,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_arrow.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{133,49}</string>
                <key>spriteSourceSize</key>
                <string>{133,49}</string>
                <key>textureRect</key>
                <string>{{1149,1211},{133,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>img_lobby_A01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{1920,172}</string>
                <key>spriteSourceSize</key>
                <string>{1920,176}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_main02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1076,511}</string>
                <key>spriteSourceSize</key>
                <string>{1076,511}</string>
                <key>textureRect</key>
                <string>{{1,1004},{1076,511}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll_thumb.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{12,32}</string>
                <key>spriteSourceSize</key>
                <string>{16,32}</string>
                <key>textureRect</key>
                <string>{{1908,920},{12,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>scroll_thumb02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,51}</string>
                <key>spriteSourceSize</key>
                <string>{51,51}</string>
                <key>textureRect</key>
                <string>{{1855,907},{51,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>txt_qrsc.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{202,56}</string>
                <key>spriteSourceSize</key>
                <string>{202,56}</string>
                <key>textureRect</key>
                <string>{{1855,569},{202,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_tishi.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{132,56}</string>
                <key>spriteSourceSize</key>
                <string>{202,56}</string>
                <key>textureRect</key>
                <string>{{1855,773},{132,56}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_title02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{183,68}</string>
                <key>spriteSourceSize</key>
                <string>{189,68}</string>
                <key>textureRect</key>
                <string>{{1149,1026},{183,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_title03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,68}</string>
                <key>spriteSourceSize</key>
                <string>{189,68}</string>
                <key>textureRect</key>
                <string>{{1079,1026},{189,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>txt_title08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{189,68}</string>
                <key>spriteSourceSize</key>
                <string>{189,68}</string>
                <key>textureRect</key>
                <string>{{1079,1217},{189,68}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>xxxx01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-9,0}</string>
                <key>spriteSize</key>
                <string>{1852,827}</string>
                <key>spriteSourceSize</key>
                <string>{1876,827}</string>
                <key>textureRect</key>
                <string>{{1,175},{1852,827}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>有電1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,31}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{1855,960},{51,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>有電2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{1200,1323},{37,21}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>無電1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,31}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{1855,993},{51,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>無電2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{1223,1346},{37,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>聊天.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{73,59}</string>
                <key>spriteSourceSize</key>
                <string>{73,59}</string>
                <key>textureRect</key>
                <string>{{1855,421},{73,59}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>託管按下-改.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{80,63}</string>
                <key>textureRect</key>
                <string>{{1855,175},{80,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>託管普通-改.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{80,63}</string>
                <key>textureRect</key>
                <string>{{1855,257},{80,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>託管無效-改.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,63}</string>
                <key>spriteSourceSize</key>
                <string>{80,63}</string>
                <key>textureRect</key>
                <string>{{1855,339},{80,63}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>離開.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{71,57}</string>
                <key>spriteSourceSize</key>
                <string>{71,57}</string>
                <key>textureRect</key>
                <string>{{1855,496},{71,57}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>others.png</string>
            <key>size</key>
            <string>{1922,1516}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:422dd81036759ff27cc204bd213bfc15:565d8b3bb29a76979fec1fcaa38578f3:ddbf81f48aabe37f7be37472eca089e2$</string>
            <key>textureFileName</key>
            <string>others.png</string>
        </dict>
    </dict>
</plist>
