<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>frame_line01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1718,6}</string>
                <key>spriteSourceSize</key>
                <string>{1718,6}</string>
                <key>textureRect</key>
                <string>{{1,55},{1718,6}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>frame_line02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1713,4}</string>
                <key>spriteSourceSize</key>
                <string>{1713,4}</string>
                <key>textureRect</key>
                <string>{{1,63},{1713,4}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{101,51}</string>
                <key>spriteSourceSize</key>
                <string>{101,51}</string>
                <key>textureRect</key>
                <string>{{592,1},{101,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{195,51}</string>
                <key>spriteSourceSize</key>
                <string>{195,51}</string>
                <key>textureRect</key>
                <string>{{395,1},{195,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{197,52}</string>
                <key>spriteSourceSize</key>
                <string>{197,52}</string>
                <key>textureRect</key>
                <string>{{1,1},{197,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{97,49}</string>
                <key>spriteSourceSize</key>
                <string>{97,49}</string>
                <key>textureRect</key>
                <string>{{695,1},{97,49}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>img_title07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{193,52}</string>
                <key>spriteSourceSize</key>
                <string>{193,52}</string>
                <key>textureRect</key>
                <string>{{200,1},{193,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>records.png</string>
            <key>size</key>
            <string>{1720,68}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ac8fe0d9d1ee495dbc9eafbbb7fe106e:3ff5b86282e2dece7d153d123cb95722:5a11a856e4af943142fca3fbb99574b6$</string>
            <key>textureFileName</key>
            <string>records.png</string>
        </dict>
    </dict>
</plist>
