<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>WIFI有.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{1,1811},{41,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>WIFI無.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,34}</string>
                <key>spriteSourceSize</key>
                <string>{41,34}</string>
                <key>textureRect</key>
                <string>{{37,1811},{41,34}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>上方底牌框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{504,146}</string>
                <key>spriteSourceSize</key>
                <string>{504,146}</string>
                <key>textureRect</key>
                <string>{{1,1229},{504,146}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>底框1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,144}</string>
                <key>spriteSourceSize</key>
                <string>{1920,144}</string>
                <key>textureRect</key>
                <string>{{1,1083},{1920,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>有電1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,31}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{119,1811},{51,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>有電2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{73,1811},{37,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>無電1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,31}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{172,1811},{51,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>無電2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-3,1}</string>
                <key>spriteSize</key>
                <string>{37,21}</string>
                <key>spriteSourceSize</key>
                <string>{51,31}</string>
                <key>textureRect</key>
                <string>{{96,1811},{37,21}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>牌型選擇框.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{987,204}</string>
                <key>spriteSourceSize</key>
                <string>{987,204}</string>
                <key>textureRect</key>
                <string>{{592,1649},{987,204}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌桌底圖.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1920,1080}</string>
                <key>spriteSourceSize</key>
                <string>{1920,1080}</string>
                <key>textureRect</key>
                <string>{{1,1},{1920,1080}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系統發話欄底圖.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{442,441}</string>
                <key>spriteSourceSize</key>
                <string>{442,441}</string>
                <key>textureRect</key>
                <string>{{149,1229},{442,441}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>系統發話欄底圖分格線.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,1}</string>
                <key>spriteSourceSize</key>
                <string>{388,1}</string>
                <key>textureRect</key>
                <string>{{73,1850},{388,1}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系統配對中.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,74}</string>
                <key>spriteSourceSize</key>
                <string>{360,74}</string>
                <key>textureRect</key>
                <string>{{1,1735},{360,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>系統配對中點點.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{16,18}</string>
                <key>spriteSourceSize</key>
                <string>{16,18}</string>
                <key>textureRect</key>
                <string>{{225,1811},{16,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>请选择牌型.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{277,52}</string>
                <key>spriteSourceSize</key>
                <string>{277,52}</string>
                <key>textureRect</key>
                <string>{{149,1673},{277,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>開始遊戲大圖.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{29,1}</string>
                <key>spriteSize</key>
                <string>{1058,418}</string>
                <key>spriteSourceSize</key>
                <string>{1116,600}</string>
                <key>textureRect</key>
                <string>{{592,1229},{1058,418}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>playground.png</string>
            <key>size</key>
            <string>{1922,1854}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8ce64aec301dd1d26f874351371cc71a:d3ed09eabbf40153c0f4bc2ad6037c7a:5aec88a36a3570b2d12aa96d92f98841$</string>
            <key>textureFileName</key>
            <string>playground.png</string>
        </dict>
    </dict>
</plist>
