<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>玩法說明.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{18,-31}</string>
                <key>spriteSize</key>
                <string>{1598,858}</string>
                <key>spriteSourceSize</key>
                <string>{1760,990}</string>
                <key>textureRect</key>
                <string>{{1,1},{1598,858}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>結算規則.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,-26}</string>
                <key>spriteSize</key>
                <string>{1312,1172}</string>
                <key>spriteSourceSize</key>
                <string>{1760,1318}</string>
                <key>textureRect</key>
                <string>{{1,861},{1312,1172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>Laiziother.png</string>
            <key>size</key>
            <string>{1600,2034}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9407c2ec0546aba32c28cd3b5ec56af6:483a2a002dc9d40b7aeb32302c9c8cdd:6a90f778388e852f4d4110f20a29c258$</string>
            <key>textureFileName</key>
            <string>Laiziother.png</string>
        </dict>
    </dict>
</plist>
