<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>關於我們.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{23,-28}</string>
                <key>spriteSize</key>
                <string>{1628,604}</string>
                <key>spriteSourceSize</key>
                <string>{1760,746}</string>
                <key>textureRect</key>
                <string>{{1,1},{1628,604}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>aboutus.png</string>
            <key>size</key>
            <string>{1630,606}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bd31cf3530b3e526db2446ce46e519d2:5874225a16cca01c7b03de40fe0afd97:d06e7c16e93f2047bb97e51b67d0d089$</string>
            <key>textureFileName</key>
            <string>aboutus.png</string>
        </dict>
    </dict>
</plist>
