<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>牌型規則1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-70,-27}</string>
                <key>spriteSize</key>
                <string>{1420,794}</string>
                <key>spriteSourceSize</key>
                <string>{1760,936}</string>
                <key>textureRect</key>
                <string>{{1,1},{1420,794}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>牌型規則2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-126,-17}</string>
                <key>spriteSize</key>
                <string>{1310,164}</string>
                <key>spriteSourceSize</key>
                <string>{1760,328}</string>
                <key>textureRect</key>
                <string>{{1,797},{1310,164}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TLaiziRule.png</string>
            <key>size</key>
            <string>{1422,962}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78141129021f7a2105b9d263ab511c36:e4085c4e7efcff87524703104a4c7fe3:3c51b58d1c1df6628cfaed2b7f4d78c2$</string>
            <key>textureFileName</key>
            <string>TLaiziRule.png</string>
        </dict>
    </dict>
</plist>
