<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>玩法說明.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{19,-25}</string>
                <key>spriteSize</key>
                <string>{1598,857}</string>
                <key>spriteSourceSize</key>
                <string>{1760,1009}</string>
                <key>textureRect</key>
                <string>{{1,1},{1598,857}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>結算規則.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-124,-26}</string>
                <key>spriteSize</key>
                <string>{1312,1172}</string>
                <key>spriteSourceSize</key>
                <string>{1760,1318}</string>
                <key>textureRect</key>
                <string>{{1,860},{1312,1172}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>TLaiziOther.png</string>
            <key>size</key>
            <string>{1600,2033}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:eb75839137479737adcfdb20e1eafa88:985d8cf2f1fe1db9706e9ff43848f080:3977bea672b216387e26a03eae646df9$</string>
            <key>textureFileName</key>
            <string>TLaiziOther.png</string>
        </dict>
    </dict>
</plist>
