<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>牌型規則1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1420,290}</string>
                <key>spriteSourceSize</key>
                <string>{1420,290}</string>
                <key>textureRect</key>
                <string>{{1,609},{1420,290}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>牌型規則2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1310,101}</string>
                <key>spriteSourceSize</key>
                <string>{1310,101}</string>
                <key>textureRect</key>
                <string>{{293,1909},{1310,101}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>玩法介紹.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1640,606}</string>
                <key>spriteSourceSize</key>
                <string>{1640,606}</string>
                <key>textureRect</key>
                <string>{{1,1},{1640,606}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>結算規則.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1314,1298}</string>
                <key>spriteSourceSize</key>
                <string>{1314,1298}</string>
                <key>textureRect</key>
                <string>{{293,609},{1314,1298}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>開局叫牌.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{1640,354}</string>
                <key>spriteSourceSize</key>
                <string>{1640,354}</string>
                <key>textureRect</key>
                <string>{{1643,1},{1640,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>NormalRule.png</string>
            <key>size</key>
            <string>{1998,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a98e07a5f4a83b036da8e75a0ba936c7:10b8fc41f87163c0cc08188ece4bedd9:0d89d99fb37f579bb37b19b6ce3d3485$</string>
            <key>textureFileName</key>
            <string>NormalRule.png</string>
        </dict>
    </dict>
</plist>
