<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>5cows_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-16}</string>
                <key>spriteSize</key>
                <string>{228,210}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1075,1},{228,210}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5cows_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,12}</string>
                <key>spriteSize</key>
                <string>{274,334}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1069,343},{274,334}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5cows_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,1}</string>
                <key>spriteSize</key>
                <string>{284,336}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1055,691},{284,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5cows_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,1}</string>
                <key>spriteSize</key>
                <string>{298,334}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{691,1329},{298,334}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{298,340}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1043,1029},{298,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5cows_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-8}</string>
                <key>spriteSize</key>
                <string>{298,316}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1027,1371},{298,316}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,5}</string>
                <key>spriteSize</key>
                <string>{346,348}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1,691},{346,348}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{340,356}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{361,1},{340,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,5}</string>
                <key>spriteSize</key>
                <string>{308,354}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{361,343},{308,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{302,340}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1,1347},{302,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{306,328}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{343,1589},{306,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,3}</string>
                <key>spriteSize</key>
                <string>{346,358}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,358}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,2}</string>
                <key>spriteSize</key>
                <string>{340,352}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1,349},{340,352}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,3}</string>
                <key>spriteSize</key>
                <string>{306,346}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{351,957},{306,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,0}</string>
                <key>spriteSize</key>
                <string>{302,342}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{699,1025},{302,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{306,328}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1,1651},{306,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{16,5}</string>
                <key>spriteSize</key>
                <string>{346,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{717,343},{346,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,3}</string>
                <key>spriteSize</key>
                <string>{340,354}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{719,1},{340,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,4}</string>
                <key>spriteSize</key>
                <string>{306,346}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1,1039},{306,346}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{302,350}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{355,653},{302,350}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-5}</string>
                <key>spriteSize</key>
                <string>{306,328}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{673,1629},{306,328}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>5cows_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{15,-6}</string>
                <key>spriteSize</key>
                <string>{346,332}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{707,691},{346,332}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5cows_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{21,-4}</string>
                <key>spriteSize</key>
                <string>{340,322}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{349,1265},{340,322}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>5cows_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,3}</string>
                <key>spriteSize</key>
                <string>{302,314}</string>
                <key>spriteSourceSize</key>
                <string>{382,382}</string>
                <key>textureRect</key>
                <string>{{1003,1671},{302,314}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>5cows.png</string>
            <key>size</key>
            <string>{1344,1974}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2c03b846fe2f0cd392d0338e36a6d785:c37442775efbb5dc6b212012ae519259:69d96e58f4e2c5642d28f5d7cf9786b7$</string>
            <key>textureFileName</key>
            <string>5cows.png</string>
        </dict>
    </dict>
</plist>
