<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>allkill.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,0}</string>
                <key>spriteSize</key>
                <string>{493,277}</string>
                <key>spriteSourceSize</key>
                <string>{539,305}</string>
                <key>textureRect</key>
                <string>{{435,549},{493,277}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-2,37}</string>
                <key>spriteSize</key>
                <string>{624,256}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{930,597},{624,256}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,71}</string>
                <key>spriteSize</key>
                <string>{382,168}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{701,143},{382,168}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-18,49}</string>
                <key>spriteSize</key>
                <string>{404,162}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{1,95},{404,162}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,58}</string>
                <key>spriteSize</key>
                <string>{274,98}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{483,1},{274,98}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_024.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{11,54}</string>
                <key>spriteSize</key>
                <string>{348,142}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{1241,1},{348,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_025.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{51,20}</string>
                <key>spriteSize</key>
                <string>{482,234}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{483,313},{482,234}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_026.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{73,-9}</string>
                <key>spriteSize</key>
                <string>{484,300}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{1556,597},{484,300}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>allkill_text_027.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{70,-1}</string>
                <key>spriteSize</key>
                <string>{490,314}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{545,855},{490,314}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_028.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{65,6}</string>
                <key>spriteSize</key>
                <string>{500,318}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{1037,855},{500,318}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>allkill_text_029.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{44,7}</string>
                <key>spriteSize</key>
                <string>{542,308}</string>
                <key>spriteSourceSize</key>
                <string>{630,420}</string>
                <key>textureRect</key>
                <string>{{1,828},{542,308}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,21}</string>
                <key>spriteSize</key>
                <string>{480,228}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1,293},{480,228}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,65}</string>
                <key>spriteSize</key>
                <string>{480,140}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{759,1},{480,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-94,16}</string>
                <key>spriteSize</key>
                <string>{292,228}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1591,1},{292,228}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>sword_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-24,0}</string>
                <key>spriteSize</key>
                <string>{432,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1,523},{432,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,89}</string>
                <key>spriteSize</key>
                <string>{480,92}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1,1},{480,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,42}</string>
                <key>spriteSize</key>
                <string>{480,178}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1085,145},{480,178}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{94,40}</string>
                <key>spriteSize</key>
                <string>{292,190}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{407,101},{292,190}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{33,0}</string>
                <key>spriteSize</key>
                <string>{414,270}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{1449,325},{414,270}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sword_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,10}</string>
                <key>spriteSize</key>
                <string>{480,250}</string>
                <key>spriteSourceSize</key>
                <string>{480,270}</string>
                <key>textureRect</key>
                <string>{{967,325},{480,250}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>allkill.png</string>
            <key>size</key>
            <string>{1864,1174}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:89c97c86bf8df0b536ae539f60e925c0:9f3045b40858ae708846342e6ee6928c:73869b2ca5826881dc0a421c1615ad64$</string>
            <key>textureFileName</key>
            <string>allkill.png</string>
        </dict>
    </dict>
</plist>
