<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>card_error__000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{97,1},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{152,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{235,1},{152,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{144,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{389,1},{144,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{160,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{535,1},{160,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,6}</string>
                <key>spriteSize</key>
                <string>{94,84}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{1,1},{94,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{104,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{697,1},{104,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,5}</string>
                <key>spriteSize</key>
                <string>{120,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{1,89},{120,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,6}</string>
                <key>spriteSize</key>
                <string>{136,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{123,89},{136,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{152,92}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{659,89},{152,92}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,5}</string>
                <key>spriteSize</key>
                <string>{116,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{261,89},{116,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,6}</string>
                <key>spriteSize</key>
                <string>{130,86}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{379,89},{130,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>card_error__011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{146,90}</string>
                <key>spriteSourceSize</key>
                <string>{178,102}</string>
                <key>textureRect</key>
                <string>{{511,89},{146,90}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>card_error.png</string>
            <key>size</key>
            <string>{812,182}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a8ee34dbbdd98a087be197b2021a5fe6:4e33c8af0d1865d4ee3b567429954d45:915d1c0c627be35ad53e865fb6502a67$</string>
            <key>textureFileName</key>
            <string>card_error.png</string>
        </dict>
    </dict>
</plist>
