<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Fly_in.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-12}</string>
                <key>spriteSize</key>
                <string>{612,124}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,1},{612,124}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Fly_out.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,148}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{615,1},{612,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Start_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{612,128}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,127},{612,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{612,128}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,257},{612,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{612,128}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,387},{612,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,148}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{765,1},{612,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Start_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{612,144}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,933},{612,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-10}</string>
                <key>spriteSize</key>
                <string>{612,128}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,517},{612,128}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,148}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{615,615},{612,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Start_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{612,140}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,647},{612,140}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-3}</string>
                <key>spriteSize</key>
                <string>{612,142}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,789},{612,142}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-1}</string>
                <key>spriteSize</key>
                <string>{612,146}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,1079},{612,146}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>Game_Start_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,148}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{765,615},{612,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>Game_Start_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{612,148}</string>
                <key>spriteSourceSize</key>
                <string>{612,148}</string>
                <key>textureRect</key>
                <string>{{1,1227},{612,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>gamestart.png</string>
            <key>size</key>
            <string>{914,1376}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7364684a9bc864059905cfffbefd0433:e6e003c98b984a7c1dc1a0acd03c3084:4566ba6f7609f1246f733baccfc9e455$</string>
            <key>textureFileName</key>
            <string>gamestart.png</string>
        </dict>
    </dict>
</plist>
