<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>goldcow_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-21}</string>
                <key>spriteSize</key>
                <string>{212,187}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{1,1},{212,187}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-15}</string>
                <key>spriteSize</key>
                <string>{214,199}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{215,1},{214,199}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-13}</string>
                <key>spriteSize</key>
                <string>{214,205}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{431,1},{214,205}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-9}</string>
                <key>spriteSize</key>
                <string>{214,211}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{647,1},{214,211}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-7,-6}</string>
                <key>spriteSize</key>
                <string>{214,217}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{1,202},{214,217}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldcow_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-4}</string>
                <key>spriteSize</key>
                <string>{214,221}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{220,208},{214,221}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldcow_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-6,-3}</string>
                <key>spriteSize</key>
                <string>{214,223}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{443,214},{214,223}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>goldcow_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{242,225}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{501,877},{242,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-4}</string>
                <key>spriteSize</key>
                <string>{266,229}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{737,1110},{266,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{2,-2}</string>
                <key>spriteSize</key>
                <string>{232,229}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{245,1097},{232,229}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-2}</string>
                <key>spriteSize</key>
                <string>{234,225}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{783,433},{234,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{6,-2}</string>
                <key>spriteSize</key>
                <string>{238,225}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{745,883},{238,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,-2}</string>
                <key>spriteSize</key>
                <string>{256,225}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{479,1104},{256,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{7,-3}</string>
                <key>spriteSize</key>
                <string>{242,225}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{1,1091},{242,225}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-3}</string>
                <key>spriteSize</key>
                <string>{244,223}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{1,866},{244,223}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-4}</string>
                <key>spriteSize</key>
                <string>{244,221}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{1,643},{244,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-5}</string>
                <key>spriteSize</key>
                <string>{254,221}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{247,651},{254,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{1,-7}</string>
                <key>spriteSize</key>
                <string>{266,221}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{503,654},{266,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{250,221}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{771,660},{250,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-8}</string>
                <key>spriteSize</key>
                <string>{252,221}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{247,874},{252,221}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-9}</string>
                <key>spriteSize</key>
                <string>{254,219}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{261,430},{254,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{5,-9}</string>
                <key>spriteSize</key>
                <string>{264,219}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{517,433},{264,219}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{256,217}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{668,214},{256,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>goldcow_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{258,217}</string>
                <key>spriteSourceSize</key>
                <string>{306,237}</string>
                <key>textureRect</key>
                <string>{{1,424},{258,217}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>goldcow.png</string>
            <key>size</key>
            <string>{1022,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b95a9ba2617e2b0b4b58c1b402e5a79a:c824a6ef06012d951e91179caa7d47d9:53f9edd9954a6882c7fc122cc806b295$</string>
            <key>textureFileName</key>
            <string>goldcow.png</string>
        </dict>
    </dict>
</plist>
