<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>silvercow_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,383},{215,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,431},{215,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silvercow_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{215,189}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,1},{215,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-8}</string>
                <key>spriteSize</key>
                <string>{215,189}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,192},{215,189}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,576},{215,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-6}</string>
                <key>spriteSize</key>
                <string>{215,193}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,648},{215,193}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silvercow_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-4,2}</string>
                <key>spriteSize</key>
                <string>{213,209}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,1},{213,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silvercow_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,3}</string>
                <key>spriteSize</key>
                <string>{215,213}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,1348},{215,213}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,2}</string>
                <key>spriteSize</key>
                <string>{215,209}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,865},{215,209}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silvercow_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{213,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,216},{213,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silvercow_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,769},{215,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,962},{215,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,1082},{215,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>silvercow_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{1,1155},{215,191}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>silvercow_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-5,-7}</string>
                <key>spriteSize</key>
                <string>{215,191}</string>
                <key>spriteSourceSize</key>
                <string>{267,219}</string>
                <key>textureRect</key>
                <string>{{218,1299},{215,191}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>silvercow.png</string>
            <key>size</key>
            <string>{428,1562}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b4e872fbf3b68536abc891bafc083759:e4475a78b40140165002bf22b2ec971f:4acbf70eadad3885cddde55b276622df$</string>
            <key>textureFileName</key>
            <string>silvercow.png</string>
        </dict>
    </dict>
</plist>
