<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>victory_000.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{355,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{691,1565},{355,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{355,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{345,1567},{355,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,2}</string>
                <key>spriteSize</key>
                <string>{357,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1597,788},{357,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{357,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1605,428},{357,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{357,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1033,1539},{357,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,2}</string>
                <key>spriteSize</key>
                <string>{355,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1371,1566},{355,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{4,3}</string>
                <key>spriteSize</key>
                <string>{367,338}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1414,1197},{367,338}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{379,340}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1033,1197},{379,340}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,4}</string>
                <key>spriteSize</key>
                <string>{395,340}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{691,1168},{395,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{407,340}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1255,788},{407,340}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,5}</string>
                <key>spriteSize</key>
                <string>{415,342}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1,1273},{415,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{421,342}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{347,1144},{421,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{425,342}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1593,1},{425,342}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{429,356}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1235,1},{429,356}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_014.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{8,-1}</string>
                <key>spriteSize</key>
                <string>{435,354}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{812,339},{435,354}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_015.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,-2}</string>
                <key>spriteSize</key>
                <string>{435,354}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1168,432},{435,354}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_016.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,4}</string>
                <key>spriteSize</key>
                <string>{439,344}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1,832},{439,344}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_017.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{9,2}</string>
                <key>spriteSize</key>
                <string>{443,376}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1,1},{443,376}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_018.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-7}</string>
                <key>spriteSize</key>
                <string>{443,366}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{810,800},{443,366}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_019.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{445,342}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{363,800},{445,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,5}</string>
                <key>spriteSize</key>
                <string>{447,342}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{363,456},{447,342}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_021.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{449,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{784,1},{449,336}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>victory_022.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,-10}</string>
                <key>spriteSize</key>
                <string>{451,360}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{1,379},{451,360}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>victory_023.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{10,2}</string>
                <key>spriteSize</key>
                <string>{453,336}</string>
                <key>spriteSourceSize</key>
                <string>{475,380}</string>
                <key>textureRect</key>
                <string>{{446,1},{453,336}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>victory.png</string>
            <key>size</key>
            <string>{1963,1923}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0877678f3e64d7d7a0e87d3d4b20ee8a:aa63aedc60956c604d22e08fd23f7c70:ef5419f25bccb40a7179c8244ad4c839$</string>
            <key>textureFileName</key>
            <string>victory.png</string>
        </dict>
    </dict>
</plist>
